main {
	display: flex;
	justify-content: space-between;
}

#images {
	position: relative;
	float: left;
}

#images * {
	max-width: 10em;
	position: absolute;
	left: 0;
}

#pizzabase {
	position: relative;
}

#options {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#options select {
	width: 10em;
}
