@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: "Major Mono Display", monospace;
}

body {
	color: whitesmoke;
	font-size: 2.5vmax;
	background: #0a040a;
	text-align: center;
}

main {
	word-wrap: break-word;
	padding-top: 1.2em;
	margin-inline: 10vw;
}

main * {
	padding: 0.2em;
}

button,
.file-button {
	font-size: 0.8em;
	padding: 0.4em;
	color: whitesmoke;
	background-color: rgba(52, 52, 52, 0.12);
	cursor: pointer;
	border-radius: 0.1em;
	border: 0.05em solid whitesmoke;
	transition: all 0.2s;
}

button:hover,
.file-button:hover {
	background-color: rgba(52, 52, 52, 0.35);
	border-color: #5887f7;
}

button:focus,
.file-button:active {
	background-color: rgba(52, 52, 52, 0.35);
	color: #5887f7;
}

ul {
	display: flex;
	justify-content: center;
	list-style: none;
}

a {
	color: whitesmoke;
	cursor: pointer;
	transition: all 0.3s;
}

a:hover {
	color: #5887f7;
}

a:focus {
	color: #2655c5;
}

#navbar {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	flex-direction: row;
	background-color: rgba(6, 0, 6, 0.7);
	width: 100%;
	z-index: 1;
}

#navbar ul {
	display: flex;
}

#navbar li {
	padding-inline: 0.5em;
}

.icon {
	filter: brightness(1);
	width: 1.5em;
	padding-left: auto;
	transition: all 0.1s;
}

.icon:hover {
	filter: brightness(0.7);
}

.icon:active {
	filter: brightness(0.5);
}

.contact-image {
	padding-inline: 0.5em;
	height: 2em;
	filter: brightness(1);
	transition: all 0.5s;
}

.contact-image:hover {
	filter: brightness(0.5);
}

.tooltip {
	visibility: hidden;
	display: flex;
	font-size: 0.75em;
	margin: -1em;

	position: absolute;
	z-index: 1;

	opacity: 0;
	transition: all 0.5s;
}

.tooltip-parent {
	display: flex;
	justify-content: center;
}

.tooltip-parent:hover .tooltip {
	visibility: visible;
	opacity: 1;
}

#tip {
	animation: splash 10s infinite alternate;
}

@keyframes splash {
	0% {
		color: whitesmoke;
	}
	25% {
		color: azure;
	}
	50% {
		color: mistyrose;
	}
	75% {
		color: mintcream;
	}
	100% {
		color: lavender;
	}
}
