#drop-area {
	display: flex;
	text-align: center;
	justify-content: center;
	margin: auto;
	border: 0.1em dashed whitesmoke;
	border-radius: 0.1em;
	width: 50vw;
	padding: 0.1em;
	transition: all 0.2s;
}

#drop-area.highlight {
	border-color: #5887f7;
}

#drop-area * {
	font-size: 0.9em;
	display: inline-block;
	margin: 0.1em;
}

#fileElem {
	display: none;
}

#malaf-long {
	color: gray;
}

#fail {
	display: none;
	color: palevioletred;
}

#functions {
	font-size: 0.9em;
	margin: 0.2em;
	display: flex;
	justify-content: center;
	align-content: center;
}

#functions div {
	margin: 0.5em;
}

.center-div {
	margin: 0.4em;
	display: flex;
	justify-content: center;
}

/* Checkboxes / Radios */

.container {
	display: block;
	position: relative;
	padding-left: 1.25em;
	margin-bottom: 0.3em;
	cursor: pointer;
	font-size: 1em;
	user-select: none;
}

.container input {
	position: absolute;
	display: none;
	cursor: pointer;
}

.check {
	position: absolute;
	top: 0;
	left: 0;
	height: 1em;
	width: 1em;
	background-color: whitesmoke;
}

.container:hover input ~ .check {
	background-color: darkgray;
}

.container input:checked ~ .check {
	background-color: #5887f7;
}

.check:after {
	content: "";
	position: absolute;
	display: none;
}

.container input:checked ~ .check:after {
	display: block;
}

.container .checkmark-radio:after {
	top: 34%;
	left: 34%;
	width: 35%;
	height: 35%;
	border-radius: 50%;
	background: whitesmoke;
}

.container .checkmark-checkbox:after {
	left: 40%;
	top: 20%;
	width: 20%;
	height: 40%;
	border: solid whitesmoke;
	border-width: 0 0.12em 0.12em 0;
	transform: rotate(45deg);
}

.checkmark-radio {
	border-radius: 50%;
}

/* Toggles */

.toggle-control {
	display: flex;
	position: relative;
	padding-left: 2em;
	margin-bottom: 0.5em;
	cursor: pointer;
	font-size: 1em;
	user-select: none;
}

.toggle-control input {
	position: absolute;
	display: none;
	cursor: pointer;
}

.toggle-control input:checked ~ .control {
	background-color: #5887f7;
}

.toggle-control input:checked ~ .control:after {
	left: 0.8em;
}

.toggle-control .control {
	position: absolute;
	top: 0;
	left: 0;
	height: 1em;
	width: 1.7em;
	border-radius: 0.1em;
	background-color: darkgray;
	transition: background-color 0.5s ease;
}

.toggle-control .control:after {
	content: "";
	position: absolute;
	left: 0.1em;
	top: 0.1em;
	width: 0.8em;
	height: 0.8em;
	border-radius: 0.1em;
	background: whitesmoke;
	transition: left 0.5s ease;
}
