#drop-area {
	display: flex;
	text-align: center;
	justify-content: center;
	font-size: x-large;
	margin: auto;
	border: 2px dashed whitesmoke;
	border-radius: 2px;
	width: 30%;
	padding: 4px;
	transition: all 0.2s;
}

#drop-area.highlight {
	border-color: #5887f7;
}

#drop-area * {
	display: inline-block;
	margin: 4px;
}

.file-button {
	display: inline-flex;
	padding: 6px;
	color: whitesmoke;
	background-color: rgba(52, 52, 52, 0.12);
	cursor: pointer;
	border-radius: 2px;
	border: 1px solid whitesmoke;
	transition: all 0.2s;
}

.file-button:hover {
	background-color: rgba(52, 52, 52, 0.35);
	border-color: #5887f7;
}

.file-button:active {
	background-color: rgba(52, 52, 52, 0.35);
	color: #5887f7;
}

#fileElem {
	display: none;
}

#malaf-long {
	color: gray;
}

#fail {
	display: none;
	color: palevioletred;
}

#functions {
	margin: 10px;
	display: flex;
	justify-content: center;
	align-content: center;
}

#functions div {
	margin: 20px;
}

/* Checkboxes / Radios */

.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: x-large;
	user-select: none;
}

.container input {
	position: absolute;
	display: none;
	cursor: pointer;
}

.check {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: whitesmoke;
}

.container:hover input ~ .check {
	background-color: darkgray;
}

.container input:checked ~ .check {
	background-color: #5887f7;
}

.check:after {
	content: "";
	position: absolute;
	display: none;
}

.container input:checked ~ .check:after {
	display: block;
}

.container .checkmark-radio:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: whitesmoke;
}

.container .checkmark-checkbox:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid whitesmoke;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}

.checkmark-radio {
	border-radius: 50%;
}

/* Toggles */

.toggle-control {
	display: flex;
	position: relative;
	padding-left: 60px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 28px;
	user-select: none;
}

.toggle-control input {
	position: absolute;
	display: none;
	cursor: pointer;
}

.toggle-control input:checked ~ .control {
	background-color: #5887f7;
}

.toggle-control input:checked ~ .control:after {
	left: 23px;
}

.toggle-control .control {
	position: absolute;
	top: 0;
	left: 0;
	height: 30px;
	width: 50px;
	border-radius: 5px;
	background-color: darkgray;
	transition: background-color 0.5s ease;
}

.toggle-control .control:after {
	content: "";
	position: absolute;
	left: 2px;
	top: 2px;
	width: 25px;
	height: 25px;
	border-radius: 5px;
	background: whitesmoke;
	transition: left 0.5s ease;
}
