@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@font-face {
    font-family: "handel-gothic";
    src: url("/misc/handel-gothic-d-medium.otf");
}

:root {
    --bg-color: #0e080e;
    --bgdark-color: #0a040a;
    --text-color: #ffe4ef;
    --accent-color: #ff0066;
    --accentdark-color: #6e002c;
    --partial-color: #ff5c9d;
    --active-color: #c5004f;
    --animation-duration: 0.3s;
    font-family: "Major Mono Display", monospace;
    font-weight: 600;
    color: var(--text-color);
    font-size: calc((0.4em + 1vmin) + (0.4em + 1vmax));
    background: var(--bg-color);
    word-wrap: break-word;
    text-align: center;
}

::selection {
    background-color: var(--accentdark-color);
}

a:link {
    color: var(--accent-color);
    text-decoration: none;
    transition: color var(--animation-duration);
}

a:visited {
    color: var(--accent-color);
}

a:hover {
    color: var(--partial-color);
}

a:active {
    color: var(--active-color);
}

a img {
    filter: brightness(1);
    transition: filter var(--animation-duration);
}

a img:hover {
    filter: brightness(0.75);
}

ul {
    list-style: none;
}

img {
    vertical-align: middle;
}

button,
.file-button {
    background-color: var(--accent-color);
    font: inherit;
    font-size: 1em;
    color: var(--text-color);
    border: none 0.08em;
    padding: 0.3em;
    border-radius: 0.15em;
    transition: background-color var(--animation-duration);
}

button:hover,
.file-button:hover {
    cursor: pointer;
    background-color: var(--partial-color);
}

button:focus,
.file-button:active {
    background-color: var(--active-color);
}

.navbar {
    background-color: var(--bgdark-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-inline: 0.2em;
}

.navbar img {
    height: 1.25em;
}

.navbar p {
    margin: 0.2em;
}

#drop-area {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    border: 0.1em dashed var(--text-color);
    border-radius: 0.1em;
    width: 50vw;
    padding: 0.1em;
    transition: all 0.2s;
}

#drop-area.highlight {
    border-color: var(--accent-color);
}

#drop-area * {
    font-size: 0.9em;
    display: inline-block;
    margin: 0.1em;
}

#fileElem {
    display: none;
}

#fail {
    display: none;
    color: var(--active-color);
}

#functions {
    font-size: 0.8em;
    margin: 0.2em;
    display: flex;
    justify-content: center;
    align-content: center;
}

#functions div {
    margin: 0.5em;
}

.center-div {
    margin: 0.4em;
    display: flex;
    justify-content: center;
}

/* Checkboxes / Radios */

.container {
    text-align: start;
    display: block;
    position: relative;
    padding-left: 1.5em;
    margin-bottom: 0.3em;
    cursor: pointer;
    user-select: none;
}

.container input {
    position: absolute;
    display: none;
    cursor: pointer;
}

.check {
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: var(--text-color);
}

.container:hover input ~ .check {
    background-color: darkgray;
}

.container input:checked ~ .check {
    background-color: var(--accent-color);
}

.check:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .check:after {
    display: block;
}

.container .radio:after {
    top: 34%;
    left: 34%;
    width: 35%;
    height: 35%;
    border-radius: 50%;
    background: var(--text-color);
}

.container .box:after {
    left: 35%;
    top: 15%;
    width: 20%;
    height: 40%;
    border: solid var(--text-color);
    border-width: 0 0.2em 0.2em 0;
    transform: rotate(45deg);
}

.radio {
    border-radius: 50%;
}

/* Toggles */

.switch {
    margin-right: 7em;
    padding-right: 0.5em;
    position: relative;
    display: inline-block;
    width: 1.6em;
    height: 1em;
}

.switch input {
    display: none;
}

.switch label {
    word-wrap: normal;
    padding-left: 3em;
}

.slider {
    display: flex;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.2em;
    background-color: darkgray;
    transition: all 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 0.8em;
    width: 0.8em;
    left: 0.18em;
    bottom: 0.1em;
    border-radius: 0.2em;
    background-color: var(--text-color);
    transition: 0.4s;
}

input:checked + .slider {
    background-color: var(--accent-color);
}

input:checked + .slider:before {
    transform: translateX(1em);
}

#preview p {
    font-family: "handel-gothic", monospace;
    font-weight: normal;
    letter-spacing: 0.034em;
    word-wrap: normal;
    display: inline;
    padding: 0;
}
