@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

body {
  margin: 20px;
  background-color: #0a040a;
  text-align: center;
  font-family: "Major Mono Display", monospace;
  color: whitesmoke;
}
