main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#images {
    height: 10em;
}

#images * {
    max-width: 10em;
    position: absolute;
    left: 35vw;
}

.options {
    display: flex;
    flex-direction: column;
}

.options select {
    margin-top: 0.1em;
    width: 10em;
}

#name-options {
    align-items: flex-start;
}

#img-options {
    margin-left: auto;
    align-items: flex-end;
}

#all-opt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
