main ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact {
    position: relative;
    margin: 0.2em;
}

.contact img {
    height: 1.3em;
    filter: brightness(1);
    transition: filter var(--animation-duration);
}

.contact img:hover {
    filter: brightness(0.75);
}

.contact .show-hover {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.5em;
    display: none;
}

.contact img:hover+.show-hover {
    display: inherit;
}
