#contacts {
    /* padding: 0; */
    margin-top: 0.5em;
    display: flex;
    /* justify-content: center; */
    /* align-items: flex-start; */
    flex-wrap: wrap;
}

#contacts * {
    margin-inline: 0.2em;
}

#gh {
    height: 1.1em;
}

#itch {
    height: 1.1em;
}

#yt {
    height: 1em;
}

#twitch {
    height: 1.3em;
}

#discord {
    height: 1.1em;
}

#soundcloud {
    height: 0.9em;
}

#contacts * {
    filter: brightness(var(--icons));
    /* transition: filter var(--animation-duration); */
}

#contacts *:hover {
    filter: brightness(0.75);
}
