#contacts {
    padding: 0;
    margin-block: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#contacts * {
    margin-inline: 0.2em;
}

#gh {
    height: 1.3em;
}

#itch {
    height: 1.1em;
}

#yt {
    height: 1.0em;
}

#twitch {
    height: 1.3em;
}

#discord {
    height: 1.1em;
}

#contacts * {
    filter: brightness(1);
    transition: filter var(--animation-duration);
}

#contacts *:hover {
    filter: brightness(0.75);
}
