@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

main {
    text-align: left;
    font-size: 0.75em;
    display: flex;
    flex-direction: column;
}

article {
    padding: 1em;
}

.date {
    color: var(--textdark-color);
    font-size: 0.75em;
}

h1 {
    color: var(--textwhite-color);
}

p, details {
    margin-left: 0.3em;
}

details > summary::before {
    content: "show drawing";
}

details[open] > summary::before {
    content: "hide drawing";
}

details[open] > summary {
    color: var(--accentdark-color);
}

summary {
    color: var(--accent-color);
    font-size: 0.75em;
    cursor: pointer;
    transition: all var(--animation-duration);
}

main img {
    max-width: 65%;
    margin-top: 0.2em;
    margin-left: 1em;
}
