#drop-area {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 0.4em;
    border: 0.1em dashed var(--accent-color);
    width: 80%;
    padding: 0.1em;
    transition: all 0.2s;
}

#drop-area.highlight {
    border-color: var(--partial-color);
}

#drop-area * {
    display: inline-block;
    margin: 0.1em;
}

#fileElem {
    display: none;
}

#fail {
    display: none;
    color: var(--accentdark-color);
}

#functions {
    margin: 0.2em;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
}

#functions div {
    margin-top: 0.2em;
    margin-left: 0.5em;
    display: flex;
    flex-direction: column;
}

/* Checkboxes / Radios */

.container {
    text-align: start;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 1.5em;
    margin-bottom: 0.1em;
    cursor: pointer;
    user-select: none;
}

.container input {
    position: absolute;
    display: none;
    cursor: pointer;
}

.check {
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    border: solid 0.1em var(--text-color);
}

.container:hover input~.check {
    border: solid 0.1em var(--textwhite-color);
}

.container input:checked~.check {
    border: solid 0.1em var(--accent-color);
}

.check:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.check:after {
    display: block;
}

.container .radio:after {
    top: 25%;
    left: 25%;
    width: 35%;
    height: 35%;
    border-radius: 50%;
    border: solid 0.1em var(--accent-color);
}

.container .box:after {
    top: 25%;
    left: 25%;
    width: 34%;
    height: 35%;
    border: solid 0.1em var(--accent-color);
}

.radio {
    border-radius: 50%;
}

/* Toggles */

.switch {
    margin-right: 7em;
    padding-right: 0.5em;
    position: relative;
    display: flex;
    width: 1.6em;
    height: 1em;
    align-items: center;
}

.switch input {
    display: none;
}

.switch label {
    word-wrap: normal;
    padding-left: 2.5em;
}

.slider {
    display: flex;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: solid 0.1em var(--text-color);
    transition: all 0.3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 0.5em;
    width: 0.5em;
    left: 0.1em;
    bottom: 0.08em;
    border: solid 0.1em var(--text-color);
    transition: var(--animation-duration);
}

input:checked + .slider {
    border-color: var(--accent-color);
}

input:checked+.slider:before {
    transform: translateX(1.11em);
    border-color: var(--accent-color);
}

/* OLD WALL-E PREVIEW
#preview {
    font-family: "handel-gothic", monospace;
    font-weight: normal;
    letter-spacing: 0.034em;
    word-wrap: normal;
    display: inline;
    padding: 0;
}
*/
