main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#images {
    height: 10em;
    position: relative;
}

#images * {
    max-width: 10em;
    position: absolute;
    top: 0;
    left: 0;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#options select {
    margin-top: 0.1em;
    width: 10em;
}
