:root {
    --bg-color: #110010;
    --darkbg-color: #0a000a;
    --text-color: #ffdfff;
    --textwhite-color: #ffffff;
    --textdark-color: #45323c;
    --accent-color: #e91e63;
    --accentdark-color: #8b0e38;
    --partial-color: #ed457d;
    --accent2-color: #4c31eb;
    --animation-duration: 0.3s;
    --main-width: 1100px;
    font-family: "Major Mono Display", "Courier New", "Lucida Console";
    font-weight: bold;
    color: var(--text-color);
    font-size: max(4vh, 32px);
    background: var(--bg-color);
    text-align: center;
    overflow-wrap: break-word;
}

::selection {
    background-color: var(--accent2-color);
}

body,
h1,
h2,
p {
    margin: 0;
}

h1 {
    font-size: 1.5em;
}

main {
    background-color: var(--darkbg-color);
    max-width: var(--main-width);
    margin-inline: auto;
    padding: 1em;
    padding-bottom: 1.5em;
}

a:link {
    color: var(--accent-color);
    text-decoration: none;
    transition: color var(--animation-duration);
}

a:visited {
    color: var(--accent-color);
}

a:hover {
    color: var(--partial-color);
}

a:active {
    color: var(--accentdark-color);
}

a img {
    filter: brightness(1);
    transition: filter var(--animation-duration);
}

a img:hover {
    filter: brightness(0.75);
}

ul {
    list-style: none;
}

img {
    vertical-align: middle;
}

select,
button,
.file-button {
    font: inherit;
    color: var(--text-color);
    background: none;
    border: var(--accent-color) solid 0.1em;
    padding: 0.2em;
    padding-inline: 0.8em;
    border-radius: 0.15em;
    transition: all var(--animation-duration);
}

button:hover,
.file-button:hover {
    cursor: pointer;
    color: var(--textwhite-color);
    border-color: var(--partial-color);
}

button:focus,
.file-button:active {
    color: var(--textwhite-color);
    border-color: var(--accentdark-color);
}

.navbar {
    background-color: var(--darkbg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0.9vmin;
}

.navbar img {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    height: 1em;
}

.navbar p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 1em;
    margin-right: auto;
}
