/* @import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,600,0,0"); */

:root {
    --bg-light-d: hsl(0, 8%, 13%);
    --bg-dark-d: hsl(0, 7%, 9%);
    --text-d: hsl(17, 100%, 94%);
    --text-light-d: white;
    --icons-d: 1;

    --bg-light-l: hsl(0, 28%, 90%);
    --bg-dark-l: hsl(0, 20%, 84%);
    --text-l: hsl(0, 8%, 14%);
    --text-light-l: black;
    --icons-l: 0;

    --bg-light: var(--bg-light-d);
    --bg-dark: var(--bg-dark-d);
    --text: var(--text-d);
    --text-light: var(--text-light-d);
    --icons: var(--icons-d);

    --text-dark: hsl(330, 20%, 34%);
    --accent: hsl(351, 82%, 52%);
    --accent-alt: hsl(351, 70%, 40%);
    --width: max(50vw, 800px);
    /* --textwhite: hsl(0, 100%, 97%); */
    /* --icons-dark: 1; */

    color-scheme: light dark;
    font-family: "Rubik", sans-serif;
    font-size: 26px;
    overflow-wrap: break-word;
    min-height: 100%;

    background: repeating-linear-gradient(
            -45deg,
            var(--bg-dark),
            var(--bg-dark) 20px,
            var(--bg-light) 0,
            var(--bg-light) 40px
        )
        fixed;
}

.dark {
    --bg-light: var(--bg-light-d);
    --bg-dark: var(--bg-dark-d);
    --text: var(--text-d);
    --text-light: var(--text-light-d);
    --icons: var(--icons-d);
}

.light {
    --bg-light: var(--bg-light-l);
    --bg-dark: var(--bg-dark-l);
    --text: var(--text-l);
    --text-light: var(--text-light-l);
    --icons: var(--icons-l);
}

* {
    margin: 0;
}

::selection {
    background-color: var(--text-dark);
}

body {
    width: var(--width);
    /* width: max-content; */
    margin-block: 0;
    margin-inline: auto;
    padding-bottom: 0;
    background-color: var(--bg-dark);
    color: var(--text);
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
}

main {
    margin-inline: 2em;
    padding-block: 1em;
    max-width: var(--width);
    /* margin-bottom: 2em; */
}

h1 {
    margin-bottom: 0.3em;
}

ul {
    list-style-type: "▸";
    padding: 0;
}

ul li {
    margin-left: 1em;
}

ul li * {
    margin-left: 0.5em;
}

a:link {
    color: var(--accent);
    text-decoration: none;
    transition: color var(--animation-duration);
}

a:visited {
    color: var(--accent);
}

a:hover {
    color: var(--accent-alt);
    text-decoration: underline;
}

a:active {
    color: var(--accent-alt);
}

select,
button,
.file-button {
    font: inherit;
    color: var(--text);
    background: var(--bg-light);
    border: none;
    /* border-bottom: var(--accent) solid 0.1em; */
    /* border-right: var(--accent) solid 0.1em; */
    box-shadow: 0.1em 0.1em var(--accent);
    max-width: 100%;
    padding: 0.1em;
    margin-block: 0.2em;
    cursor: pointer;
    /* transition: all var(--animation-duration); */
}

/* NAVBAR */

.navbar {
    padding-block: 0.2em;
    padding-inline: 0.7em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding-inline: 5%; */
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-dark);
    border-top: 0.1em solid var(--accent);
    border-bottom: 0.1em solid var(--bg-light);
}

.navbar a {
    /* max-height: 1em; */
    margin-inline: 0.1em;
    text-decoration: none;
}

.navbar p {
    margin: 0;
    color: var(--text-dark);
    /* font-size: 0.8em; */
}

.navbar #icons {
    display: flex;
    min-width: 3.5em;
    justify-content: space-between;
}

.navbar #icons a {
    margin-inline: 0;
    padding-top: 0.2em;
    filter: brightness(1);
    /* height: min-content; */
}

.navbar #icons a:hover {
    filter: brightness(0.7);
    /* height: min-content; */
}

.navbar #icons a img {
    height: 1em;
    /* margin-top: 0.2em; */
    /* vertical-align: middle; */
}

.navbar #windowbuttons img {
    filter: brightness(1);
    max-height: 0.7em;
}

.navbar #windowbuttons img:hover {
    filter: brightness(0.6);
}

@media screen and (max-width: 850px) {
    :root {
        --width: 100vw;
    }
    main {
        margin-inline: 0.7em;
    }
}

@media screen and (max-width: 420px) {
    .nav-hide {
        display: none;
    }
}
